{% block config %}
    {% do email.addTextHeader('X-Mailjet-Campaign', 'forgotten_password_reset') %}
{% endblock config %}

{% block subject %}
    {{ 'user.forgotten_password_reset.subject'|trans({}, 'emails')|raw }}
{% endblock subject %}

{% block html %}
    {% embed "emails/base.html.twig" %}
        {% block preheader %}
            {{ 'user.forgotten_password_reset.pre_header'|trans({}, 'emails')|nl2br }}
        {% endblock preheader %}

        {% block content %}
            <row>
                <columns>
                    <p>{{ 'user.forgotten_password_reset.content.paragraphs.0'|trans({}, 'emails')|nl2br }}</p>
                    <p>{{ 'user.forgotten_password_reset.content.paragraphs.1'|trans({}, 'emails')|nl2br }}</p>

                    <spacer size="25"></spacer>

                    <center>
                        <button class="large radius" href="{{ url('candidates_reset_password', {'token': user.confirmationToken}) }}">
                            {{ 'user.forgotten_password_reset.content.button'|trans({}, 'emails')|nl2br }}
                        </button>
                    </center>

                </columns>
            </row>

            <row>
                <columns>
                    <p>{{ 'user.forgotten_password_reset.content.paragraphs.2'|trans({}, 'emails')|nl2br }}</p>
                </columns>
            </row>

            {% include 'emails/components/signature_team.html.twig' %}
            {% include 'emails/components/notification.html.twig' %}
        {% endblock %}
    {% endembed %}
{% endblock html %}
