{% block config %}
    {% do email.addTextHeader('X-Mailjet-Campaign', 'immediate_availability_confirm_first_relaunch') %}
{% endblock config %}

{% block subject %}
    {{ 'user.immediate_availability_confirm_first_relaunch.subject'|trans({}, 'emails')|raw }}
{% endblock subject %}


{% block html %}
    {% embed "emails/base.html.twig" %}
        {% block preheader %}
            {{ 'user.immediate_availability_confirm.pre_header'|trans({}, 'emails')|raw }}
        {% endblock preheader %}

        {% block content %}
            <row>
                <columns>
                    {% include 'emails/components/hello.html.twig' with {'firstName': user.firstName} %}

                    <p>
                        {{ 'user.immediate_availability_confirm_first_relaunch.content.paragraphs.0'|trans({'%date%':user.statusUpdatedAt|date('d/m/Y')}, 'emails')|raw|nl2br }}
                    </p>

                    <p>{{ 'user.immediate_availability_confirm_first_relaunch.content.paragraphs.1'|trans({}, 'emails')|raw|nl2br }}</p>
                    <p>{{ 'user.immediate_availability_confirm_first_relaunch.content.paragraphs.2'|trans({}, 'emails')|raw|nl2br }}</p>

                    <spacer size="25"></spacer>

                    <center>
                        <button class="secondary large radius expanded"
                                href="{{ url('candidates_profile_resume') }}">
                            {{ 'user.immediate_availability_confirm_first_relaunch.content.button'|trans({}, 'emails')|nl2br }}
                        </button>
                    </center>

                    <spacer size="25"></spacer>

                    <p>{{ 'user.immediate_availability_confirm_first_relaunch.content.paragraphs.3'|trans({}, 'emails')|raw|nl2br }}</p>

                </columns>
            </row>

            {% include 'emails/components/signature_team.html.twig' %}
            {% include 'emails/components/notification.html.twig' %}
        {% endblock %}
    {% endembed %}
{% endblock html %}
