{% block config %}
    {% do email.addTextHeader('X-Mailjet-Campaign', 'profile_not_visible') %}
{% endblock config %}

{% block subject %}
    {{ 'user.profile_not_visible.subject'|trans({}, 'emails')|raw }}
{% endblock subject %}


{% block html %}
    {% embed "emails/base.html.twig" %}
        {% block preheader %}
            {{ 'user.profile_not_visible.pre_header'|trans({}, 'emails')|raw }}
        {% endblock preheader %}

        {% block content %}
            <row>
                <columns>
                    {% include 'emails/components/hello.html.twig' with {'firstName': user.firstName} %}

                    <p>
                        <strong>
                            {{ 'user.profile_not_visible.content.paragraphs.0.0'|trans({}, 'emails')|raw|nl2br }}
                        </strong>
                        {{ 'user.profile_not_visible.content.paragraphs.0.1'|trans({}, 'emails')|raw|nl2br }}
                    </p>

                    <p>
                        <strong>
                            {{ 'user.profile_not_visible.content.paragraphs.1.0'|trans({}, 'emails')|raw|nl2br }}
                        </strong>
                        {{ 'user.profile_not_visible.content.paragraphs.1.1'|trans({}, 'emails')|raw|nl2br }}

                        {% if user.availability == constant('App\\User\\Enum\\Availability::IMMEDIATE') %}
                            {{ 'user.profile_not_visible.content.paragraphs.1.2'|trans({}, 'emails')|raw|nl2br }}
                        {% elseif user.availability == constant('App\\User\\Enum\\Availability::NONE') %}
                            {{ 'user.profile_not_visible.content.paragraphs.1.4'|trans({}, 'emails')|raw|nl2br }}
                        {% else %}
                            {{ 'user.profile_not_visible.content.paragraphs.1.3'|trans({'%date%': user.nextAvailabilityAt|date('d/m/Y')}, 'emails')|raw|nl2br }}
                        {% endif %}
                        {{ 'user.profile_not_visible.content.paragraphs.1.5'|trans({}, 'emails')|raw|nl2br }}
                    </p>

                    <p>{{ 'user.profile_not_visible.content.paragraphs.2'|trans({}, 'emails')|raw|nl2br }}</p>

                    <spacer size="35"></spacer>

                    <center>
                        <button class="secondary large radius expanded"
                                href="{{ url('candidates_profile_resume') }}">
                            {{ 'user.profile_not_visible.content.button'|trans({}, 'emails')|nl2br }}
                        </button>
                    </center>

                    <spacer size="35"></spacer>

                    {{ 'user.profile_not_visible.content.paragraphs.3'|trans({}, 'emails')|raw|nl2br }}

                </columns>
            </row>

            {% include 'emails/components/signature_team.html.twig' %}
            {% include 'emails/components/notification.html.twig' %}
        {% endblock %}
    {% endembed %}
{% endblock html %}
